<div *ngIf="photos && photos.length > 0; else noPhotos">
  <ol class="list-unstyled row">
    <li *ngFor="let cols of rows" class="row">
        <div *ngFor="let photo of cols" class="col-4">
          <ap-photo
            [url]="photo.url"
            [description]="photo.description">
          </ap-photo>
        </div>
    </li>
  </ol>
</div>

<ng-template #noPhotos>
  <div class="text-center mt-4">
    <p class="text-muted">Desculpe, nenhuma foto foi encontrada.</p>
  </div>
</ng-template>
